In [ ]:
import pandas as pd

In [ ]:
# Create dataframe with filtered csv
df = pd.read_csv('data/athlete_events_after1960.csv')
df

In [ ]:
# Drops all any rows with NA
df = df.dropna()

In [ ]:
# SQL doesn't allow any "" to be contained within a field. Need to strip
df['Name'].str.replace('"','')
#df['Name'] = df['Name'].map(lambda x: x.replace('""',''))

In [ ]:
df

In [ ]:
df.to_csv('cleaned_athlete_data.csv', index=False)